@import compass/reset
@import compass/css3

$blue: #162E48
$light-blue: #22b4ff

body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	
header
	padding: 60px 0 40px

section, footer
	border-bottom: 7px solid $blue
	padding: 60px 0

strong
	font-weight: bold

.centered
	width: 980px
	margin: 0 auto

.registration
	background: #22b4ff
	display: inline-block
	padding: 20px 35px
	+border-radius(15px)
	+box-shadow(5px 5px 0 #000)
	color: #fff
	text-decoration: none
	+text-shadow(-1px -1px 0 #000)
	font-size: 25px

.center-btn
	text-align: center
	margin: 50px 0 0

.gray-background
	background: url(../images/textura-cinza.jpg)

.blue-background
	background: $blue


hgroup
	h1, h2, h3
		color: #fff
		font-weight: bold
	h1
		background: url(../images/logo-openspace.png)
		text-indent: -999px
		height: 65px
		width: 450px
		margin: 0 0 50px
	h2
		font-size: 40px
		float: right
		+text-shadow(3px 3px 0 #000)
		text-align: right
		span
			font-size: 22px
	h3
		color: $light-blue
		font-size: 20px
		padding: 30px 0 0
		+text-shadow(3px 3px 0 #000)
	a
		float: right

h3
	color: $blue
	font-size: 24px
	font-weight: bold
	margin: 0 auto 30px
	width: 980px

.about
	line-height: 25px

.content
	li
		display: inline-block
		text-align: center
		margin: 30px 80px 0
		p
			color: $blue
			font-size: 24px
			font-weight: bold
			margin: 20px 0 0

.talk-container

	

.talk
	background: #fff
	display: inline-block
	padding: 30px
	margin: 0 20px 20px 0
	width: 405px
	+box-shadow(0 0 10px #bbb)
	vertical-align: top
	h4
		color: $blue
		font-size: 20px
		font-weight: bold
		margin: 0 0 30px
	p
		margin: 0 0 20px
		text-align: justify
		line-height: 20px
	ul
		float: left
		display: inline-block
		min-width: 49%
		li
			list-style: circle
			margin: 0 0 10px 20px
			line-height: 20px

.number
	display: inline-block
	margin: 0 20px 15px 0
	height: 50px
	width: 50px
	text-align: center
	background: $blue
	color: #fff
	line-height: 50px
	+border-radius(25px)
	font-size: 20px
	+box-shadow(3px 3px 0 $light-blue)
	+text-shadow(3px 3px 0 #000)

footer
	a
		color: $light-blue
		+text-shadow(3px 3px 0 #000)
		font-weight: bold
		font-size: 25px
	p
		color: #fff
		margin: 40px 0 0
		+text-shadow(3px 3px 0 #000)