/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

body
	
section, header, footer
	border-bottom: 1px solid #000
	padding: 50px 0

.centered
	width: 980px
	margin: 0 auto

.registration
	display: block
	text-align: center
	margin: 0 auto